{{!-- open bootstrap container - leveraging the auto sizing --}}
<div class="container text-center">

    <div class="row">
        <div class="col">
            <h1 class="text-center">
                <span>
                    <i class="fas text-danger bg-warning">&#xf0c9</i>
                </span> Eat-da-burger! Uff da!</h1>
        </div>
    </div>
    <img class="img-fluid text-center" src="/assets/img/sonic-burger.jpg"> {{!-- open row --}}

    <div class="row">
        <div class="card col-sm-12 col-md-5 bg-warning mx-auto pb-1 mb-3">
            <h4 class="text-center">Burgers that haven't been eaten!</h4>
            <div class="text-left">
                {{#each burgers_data}} {{#unless devoured_bool}} {{> burger-block devoured-data=false}} {{/unless}} {{/each}}
            </div>
        </div>

        {{!-- close first column --}} {{!-- open second column --}}
        <div class="card col-sm-12 col-md-5 bg-warning mx-auto pb-2 mb-3">
            <h4>Burgers that have been eaten!</h4>
            <div class="text-left">
                {{#each burgers_data}} {{#if devoured_bool}} {{> burger-block devoured-data=true}} {{/if}} {{/each}}
            </div>
        </div>
        {{!-- close first column --}}
    </div>
    {{!-- close row --}}
    <div class="row text-center">
        <div class="card col-md-5 mx-auto bg-warning pb-2 mb-2">
            <form class="create-burger-form">
                <div class="form-group ">
                    <label for="burger-name"></label>
                    <input class="form-control" type="text" id="burger-name" name="burgerName" placeholder="Add a Burger to Uneaten List">
                </div>

                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="burger-error-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ">
                    <h4 id="error-text"></h4>       
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
{{!-- close container --}}